canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black; /* Optional: Add border for visibility */
    height: 99%;
    width: 99%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.text-block {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    background-color: lightslategrey;   
    color: black;
    padding: 20px;
    padding-top: 0px;
    width: 60%;
    height: 60%;
    border: 10px solid black;
    transform: translate(-50%, -50%)

}

.top-left {
    position: absolute;
    top: 16px;
    left: 18px;

}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.custom-select {
    min-width: 350px;
    position: relative;
  }
  
  select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 70%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
  
  .custom-select::before,
  .custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }
  
  .custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
  }
  
  .custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
  }
  
  
